@tailwind base;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  @apply bg-gray-100
}

body {
  @apply font-Raleway;
}

a {
  color: inherit;
  text-decoration: none;
}
*,*:focus,*:hover{
  outline:none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-Ubuntu;
}

::selection {
  @apply bg-secondary text-dark;
}

@tailwind components;

button.btn {
  @apply bg-primary hover:bg-secondary font-Ubuntu text-white font-bold uppercase rounded-md py-3.5 mx-auto;
  width: 200px;
}

@media only screen and (max-width:768px){
  button.btn {
    width: 100%;
  }
}

form input, form textarea {
  @apply border-b-2 border-primary focus:border-secondary p-2 text-sm;
}

@tailwind utilities;
